.App {
  text-align: center;
}
/* *{
  margin: 0;
  padding: 0;
} */

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.card{
  /* width: 2rem; */
  overflow: hidden;
  /* flex-basis: 30%; */
}

.cardiframe{
  width: 100%;
  height: 15rem;
  min-height: 0px;
  margin: auto;
  padding: 2px;
}

.container1{
  border: 2px solid;
  flex-wrap: wrap;
  justify-content:center;
  align-items: center;
  gap: 8px;
}

.flex-item{
  flex-basis: 28%;
}
#logo{
  font-size: 2rem;
  font-weight: 500;
  padding: 4px;
}
.bt-solid{
  background-color: chartreuse;
  width: 20% !important;
  padding: 4px ;
  font-size: 1.3rem ;
  color: white;
  font-weight: 400;
  cursor: pointer;
}
span{
  color: chartreuse;
  /* font-size: 2rem; */
}

.mark{
  height: 8px;
  background-color: chartreuse;
  width: 30px;
  margin: auto;
  margin-top: 0;
  padding-top: 0px;
}
/* ?*? Footer Css  */
.site-footer
{
  background-color:#26272b;
  padding:45px 0 20px;
  font-size:15px;
  line-height:24px;
  color:#737373;
}
.site-footer hr
{
  border-top-color:#bbb;
  opacity:0.5
}
.site-footer hr.small
{
  margin:20px 0
}
.site-footer h6
{
  color:#fff;
  font-size:16px;
  text-transform:uppercase;
  margin-top:5px;
  letter-spacing:2px
}
.site-footer a
{
  color:#737373;
}
.site-footer a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links
{
  padding-left:0;
  list-style:none
}
.footer-links li
{
  display:block
}
.footer-links a
{
  color:#737373
}
.footer-links a:active,.footer-links a:focus,.footer-links a:hover
{
  color:#3366cc;
  text-decoration:none;
}
.footer-links.inline li
{
  display:inline-block
}
.site-footer .social-icons
{
  text-align:right
}
.site-footer .social-icons a
{
  width:40px;
  height:40px;
  line-height:40px;
  margin-left:6px;
  margin-right:0;
  border-radius:100%;
  background-color:#33353d
}
.copyright-text
{
  margin:0
}
@media (max-width:991px)
{
  .site-footer [class^=col-]
  {
    margin-bottom:30px
  }
}
@media (max-width:767px)
{
  .site-footer
  {
    padding-bottom:0
  }
  .site-footer .copyright-text,.site-footer .social-icons
  {
    text-align:center
  }
}
.social-icons
{
  padding-left:0;
  margin-bottom:0;
  list-style:none
}
.social-icons li
{
  display:inline-block;
  margin-bottom:4px
}
.social-icons li.title
{
  margin-right:15px;
  text-transform:uppercase;
  color:#96a2b2;
  font-weight:700;
  font-size:13px
}
.social-icons a{
  background-color:#eceeef;
  color:#818a91;
  font-size:16px;
  display:inline-block;
  line-height:44px;
  width:44px;
  height:44px;
  text-align:center;
  margin-right:8px;
  border-radius:100%;
  -webkit-transition:all .2s linear;
  -o-transition:all .2s linear;
  transition:all .2s linear
}
.social-icons a:active,.social-icons a:focus,.social-icons a:hover
{
  color:#fff;
  background-color:#29aafe
}
.social-icons.size-sm a
{
  line-height:34px;
  height:34px;
  width:34px;
  font-size:14px
}
.social-icons a.facebook:hover
{
  background-color:#3b5998
}
.social-icons a.twitter:hover
{
  background-color:#00aced
}
.social-icons a.linkedin:hover
{
  background-color:#007bb6
}
.social-icons a.dribbble:hover
{
  background-color:#ea4c89
}
@media (max-width:767px)
{
  .social-icons li.title
  {
    display:block;
    margin-right:0;
    font-weight:600
  }
}
/* styling main  */
.main-cont > div {
  /* border: 2px solid red ; */
}
.right-cont h1{
   font-size: 4rem;
}
h1{
  text-align: center;
  padding: 13px;
}
.left-cont{
  flex-basis: 40%;

}
.main-cont{
  margin-top: 14px; 
  margin-bottom: 14px;
}
.left-cont>img{
  width: 100%;
}

.bt-solid{
  margin: auto;
  text-align: center;
  border-radius: 4px;
  transition: all .5s;
}
.bt-solid:hover{
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  /* opacity: .6; */
}
.right-cont p {
  text-align: center;
  /* border: 2px solid red; */
  width: 70%;
  margin: auto;
  padding: 13px;
}
.right-cont{
  flex-basis: 90%;
}
h1{
  text-align: center;
  font-family: 'Fasthand', cursive;
  /* font-family: 'Times New Roman', Times, serif; */
  font-weight: 300;
  font-size: 2rem;
  margin-top: 14px;
  text-transform: capitalize;
}
.main-cont{
  /* border-top: none; */

}
.container1{
  border: none;
}
.main-cont{
  align-items: center;
}
.vid-row{
  display: flex;
  /* border: 2px solid red; */
  flex-wrap: wrap;
  justify-content: space-between;
  width: 90vw;
  margin: auto;
  padding: 8px;
}
.row-item{
  /* border: 2px solid pink; */
  flex-basis: 30%;
   margin-top: 18px;
   /* overflow: hidden; */
   box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
   padding: 2px;
}
.row-item iframe{
  width: 100%;
  margin: auto;
  border-radius: 6px ;
  /* height: 90%; */
}
.card-tittle{
  text-align: center;
  margin: 12px;
}
.btn-card{
 color: white;
 background-color: rgba(128, 247, 8, 0.949);
 width: 70%;
 padding: 4px ;
 font-size: 1.3rem ;
 color: white;
 font-weight: 300;
 cursor: pointer;
 margin: auto;
 text-align: center;
 padding: 5px;
 border-radius: 12px;
 margin-bottom: 8px;
}
html{
  scroll-behavior: smooth;
}
.row-item p {
  padding: 9px;
}
.chart-row{
  display:  flex;
  /* width: 95vw; */
  margin: auto;
  
  margin-bottom: 12px;
  margin-top: 30px;
  gap: 8px;
  color: white;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
} 
.chart-item{
  flex-basis: 30%;
  text-align: center;
  border-radius: 5px;
  padding: 12px;
  background-color: #282c34;
  border-radius: 15px;
  cursor: pointer;
  transition: all .6s;
 }

 .chart-item p {
  padding: 14px;
  text-align: left;
  color: white;
 }
 .chart-item img{
  border-radius: 50%;
  height: 120px;
 }
 .name{
  /* font-family:; */
  font-family: 'Fasthand', cursive;
 }
 .chart-item:hover{
  background-color: rgba(128, 247, 8, 0.949);
 }